<div class="navbar has-shadow">
    <div class="navbar-brand">
        <a class="navbar-item" [routerLink]="['/']">
            WALK WITH JOY
        </a>
    </div>

    <div class="navbar-menu ">

        <div class="navbar-end">
            <div class="navbar-item has-dropdown is-hoverable" *ngIf="currentUser">
                <a class="navbar-link is-arrowless">
                    {{currentUser.name}}
                </a>

                <div class="navbar-dropdown is-right">
                    <a class="navbar-item" [routerLink]="['/profil']">
                        Profile
                    </a>
                    <a class="navbar-item btn btn-primary" (click)="logout()">
                        Logout
                    </a>
                </div>
            </div>
        </div>
    </div>
</div>
