<div class="main-container">

    <h1>Pick date and pet</h1>
    <div class="field">
        <div class="control">
            <angular2-date-picker class="input" id="datetimepicker" [(ngModel)]="date" [settings]="settings"
                style="padding: 0.2rem">
            </angular2-date-picker>
        </div>
    </div>
    <div class="control">
        <div class="select is-primary">
            <select name="pets" id="pets">
                <option *ngFor="let pet of currentUser.pets" value={{pet._id}}>{{pet.name}}</option>
            </select>
        </div>
    </div>
    <button class="button is-primary is-large is-rounded" (click)="requestWalk()">Request walk</button>

    <h1>Waiting for walker</h1>
    <div *ngFor="let request of requests">
        <div #container class="info-container" *ngIf="request.walkerId === null">
            <div *ngFor="let pet of currentUser.pets">
                <div *ngIf="pet._id === request.petId">
                    <div class="info-content">
                        <h1 class="info-title"> {{request.timeDate}} {{pet.name}} </h1>
                        <div class="info-body">

                            <p>Wating for walker</p>

                        </div>
                    </div>
                    <div class="x-button" (click)="deleteWalk(request._id)">
                        X
                    </div>
                </div>
            </div>

        </div>
    </div>

    <h1>Ready for walk!</h1>
    <div *ngFor="let request of requests">
        <div #container class="info-container" *ngIf="request.walkerId">
            <div *ngFor="let pet of currentUser.pets">
                <div *ngIf="pet._id === request.petId">
                    <div class="info-content">
                        <h1 class="info-title"> {{request.timeDate}} {{pet.name}} </h1>
                        <div class="info-body">
                            <p>Walk accepted</p>
                        </div>
                    </div>
                    <div class="x-button" (click)="cancelWalk()">
                        ✓
                    </div>
                </div>
            </div>
        </div>
    </div>
</div>
