<div class="main-container">
  
  <h1>Owners</h1>
  <div class="user-list" *ngFor="let owner of owners">
    <app-user-info 
    [name]=owner.name 
    [surname]=owner.surname 
    [pets] = owner.pets 
    [id]=owner._id 
    (delete)="deleteOwner(owner._id)"
    *ngIf = "owner.name != 'admin'"></app-user-info>
  </div>
  <hr> 
  <h1>Walkers</h1>
  <div class="user-list" *ngFor="let walker of walkers">
    <app-user-info 
    [name]=walker.name 
    [surname]=walker.surname 
    [id]=walker._id
    (delete)="deleteWalker(walker._id)"></app-user-info>
  </div>
</div>