<body>
<div class="container" id="container">
	<div class="form-container sign-up-container">
		<form [formGroup] = "signUpForm" (ngSubmit)= "submitFormSignUp(signUpForm.value)" action="#">
			<h1>Create Account</h1>
            <span>use your email for registration</span>
            <div class="container-radio">
                <div class="radio">
                    <label><input class="is-checkradio" type="radio"  name ="roleRadio" value="walker" formControlName = "roleRadio" (change)="radioChangeHandler($event)" checked>Walker</label>
                </div>
                <div class="radio">
                    <label><input type="radio"  name ="roleRadio" value="owner" formControlName = "roleRadio" (change)="radioChangeHandler($event)" checked>Owner</label>
				</div>
            </div>
            
            <input type="text" id="name" name="name" formControlName = "name" placeholder="Name" />
            <input type="text" id="surname" name="surname" formControlName = "surname" placeholder="Surname" />
            <input type="text" id="address" name="address" formControlName = "address" placeholder="Address" *ngIf="isOwner"/>
			<input type="email" id="email" name="email" formControlName = "email" placeholder="Email" />
			<input type="password" id="password" name="password"  formControlName = "password" placeholder="Password" />
			<button >Sign up</button>
		</form>
	</div>
	<div class="form-container sign-in-container">
		<form [formGroup] = "loginForm" (ngSubmit)= "submitFormSignIn(loginForm.value)" action="#">
			<h1>Sign in</h1>
			<input type="email" id="email" name="email" formControlName = "email" placeholder="Email" />
			<input type="password" id="password" name="password"  formControlName = "password" placeholder="Password" />
			<button type="submit" [disabled]="!loginForm.valid" >Sign In</button>
		</form>
	</div>
	<div class="overlay-container">
		<div class="overlay">
			<div class="overlay-panel overlay-left">
				<h1>Welcome Back!</h1>
				<p>To keep connected with us please login with your personal info</p>
				<button class="ghost" (click)="signInButton()" id="signIn">Sign In</button>
			</div>
			<div class="overlay-panel overlay-right">
				<h1>Hello, Friend!</h1>
				<p>Enter your personal details and start journey with us</p>
                <button class="ghost" (click)="signUpButton()" id="signUp">Sign Up</button>
			</div>
		</div>
	</div>
</div>
</body>

