<div #container class="info-container">
    <div #container class="info-container">
        <div class="info-content">
            <h1 class="info-title">{{name}} {{surname}} </h1>

            <div class="info-body" *ngFor="let pet of pets">
                {{pet.name}}
            </div>
        </div>
        <div class="x-button" (click)="deleteUser(id)">
            X
        </div>
    </div>
</div>