@import '../main-style.scss';

.layout-box {
    display: flex;
    flex-direction: column;
    height: 90%;

    overflow: hidden;

    .page-content {
        flex-grow: 1;
        overflow-y: scroll;
    }

    
}