<div class="main-container">
  <h1>{{currentUser.name}} {{currentUser.surname}}</h1>

  <div *ngIf="type !== 'admin'">
    <div *ngIf="type === 'owner'">
      <div class="info-container" *ngFor="let pet of currentUser.pets;">
        <div class="info-content">
          <div class="info-title"> {{pet.name}} </div>
          <div class="info-body">
            <a [routerLink]="['/pets', pet._id]" class="button is-primary">See details</a>
          </div>
        </div>
      </div>

      <button class="button is-primary" (click)="openPetForms()" type="submit" *ngIf="!petForm">Add new pet</button>

      <form [formGroup]="addPetForm" (ngSubmit)="submitPetForm(addPetForm.value)" *ngIf="petForm">

        <div class="field">
          <label class="label">Name</label>
          <input id="name" type="text" class="form-control" name="name" formControlName="name">
        </div>
        <div class="field">
          <label class="label">Breed</label>
          <input id="breed" type="text" class="form-control" name="breed" formControlName="breed">
        </div>
        <div class="field">
          <label class="label">Year of birth</label>
          <input id="bday" type="text" class="form-control" name="bday" formControlName="bday">
        </div>
        <button class="button is-primary" type="submit">Add pet</button>
      </form>
    </div>

    <hr>
    <h1>Change password</h1>
    <form [formGroup]="changePasswordForm" (ngSubmit)="submitPasswordForm(changePasswordForm.value)">

      <div class="field">
        <label class="label">Current password</label>
        <input id="currentPassword" type="password" class="form-control" name="currentPassword"
          formControlName="currentPassword">
      </div>
      <div class="field">
        <label class="label">New password</label>
        <input id="newPassword" type="password" class="form-control" name="newPassword" formControlName="newPassword">
      </div>
      <div class="field">
        <label class="label">Confirm password</label>
        <input id="confirmPassword" type="password" class="form-control" name="confirmPassword"
          formControlName="confirmPassword">
      </div>
      <button class="button is-primary is-rounded" type="submit">Change password</button>
    </form>

    <hr>
    <button class="button is-primary" (click)="removeProfile()">Remove profile</button>
  </div>
</div>