<div class="main-container">

    <h1>Pet information</h1>
    <hr>

    <div *ngIf="pet">
        <div class="field">
            <label class="label">Name</label>
            <input [(ngModel)]="pet.name">
        </div>
        <div class="field">
            <label class="label">Breed</label>
            <input [(ngModel)]="pet.breed">
        </div>
        <div class="field">
            <label class="label">Year of birth</label>
            <input [(ngModel)]="pet.bday">
        </div>

        <button (click)="removePet()" class="button is-primary">Remove pet</button>
    </div>

</div>
