<div class="main-container">
    <h1>Accept walk if you can </h1>
    <div *ngFor="let request of requests">
        <div #container class="info-container" *ngIf="!request.walkerId">
            <div>
                <div *ngFor="let owner of owners">
                    <div *ngIf="request.ownerId === owner._id">

                        <div class="info-content ">
                            <h1 class="info-title"> {{request.timeDate}} {{owner.address}}</h1>
                            <div class="info-body">
                                Waiting for walk
                            </div>
                        </div>

                        <div class="x-button" (click)="acceptWalk(request._id)">
                            ✓
                        </div>

                    </div>
                </div>
            </div>
        </div>
    </div>

    <hr>

    <h1>My walks</h1>
    <div *ngFor="let request of requests">
        <div #container class="info-container" *ngIf="request.walkerId === currentUser._id">
            <div >
                <div *ngFor="let owner of owners">
                    <div *ngIf="request.ownerId === owner._id">
                        <div class="info-content">
                            <h1 class="info-title"> {{request.timeDate}} {{owner.address}} </h1>

                            <div class="info-body">
                                Acepted walk
                            </div>
                        </div>
                        <div class="x-button" (click)="deleteWalk(request._id)">
                            X
                        </div>
                    </div>
                </div>
            </div>
        </div>

    </div>

</div>
