<div [ngSwitch]="typeOfCurrentUser">
        <div *ngSwitchCase="'owner'">
                <app-owner-home-page></app-owner-home-page>
        </div>
        <div *ngSwitchCase="'walker'">
                <app-walker-home-page></app-walker-home-page>
        </div>
        <div *ngSwitchCase="'admin'">
                <app-admin-page></app-admin-page>
        </div>
        <div *ngSwitchDefault>
                <app-sign-in-sign-up></app-sign-in-sign-up>
        </div>
</div>